span.title-addon {
    display: inline-block !important;
    margin-right: 4px !important;
}

span.title-addon.-illegal {
    background-color: #FDCD56;
    color: #0f0f0f;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 4px 8px;
    font-weight: bold;
}

span.title-addon.-legal {
    background-color: #07c5075e;
    border: 1px solid transparent;
    border-radius: 22px;
    padding: 4px 6px;
}

span.title-addon.-legal.-leboncoin,
span.title-addon.-legal.-loueragile {
    padding: 2px 10px;
}

.bad-price {
    display: inline-block;
    text-decoration: line-through;
}

.bad-price * {
    display: inline-block;
    text-decoration: line-through;
}

.good-price {
    display: inline-block;
    margin-left: 10px;
}

span.-description-helper {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 9999999;
    top: 0.875em;
    right: 0.875em;
    height: 3.5em;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 0.875em 1em;
    visibility: visible;
    opacity: 1;
}

span.-description-helper.-legal {
    background: #07c507de;
}

span.-description-helper.-illegal {
    background-color: #FDCD56;
    color: #0f0f0f;
}

span.-description-helper.-hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}
