html {
    display: block;
}

body {
    height: 480px;
    width: 432px;
    display: block;
    background-color: #050505;
    font-family: "Garnett", "Avenir", Helvetica, Arial, sans-serif;
    margin: 0;
}

section {
    max-height: 100%;
    overflow-y: auto;
}

.inset {
    padding: 24px;
}

h1 {
    display: inline-block;
    color: #fdcd56;
    padding-top: 18px;
    padding-left: 24px;
    font-size: 16px;
    margin: 0;
}

h1::after{
  content: "";
  position: relative;
  background-color: #FDCD56;
  width: 100%;
  height: 3px;
  left: 0;
  display: flow-root;
}

h2 {
    color: #b1b1b1;
    padding: 9px 24px;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    margin-top: 24px;
}

ul {
    background-color: #222222;
    border: solid 1px transparent;
    border-radius: 10px;
    padding: 24px;
    margin: 0;
}

ul > li {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 16px;
}

ul > li:last-child {
    margin-bottom: 0;
}

ul > li > .key {
    color: #7e7e7e;
}

ul > li > .value {
    color: #e1e1e1;
    list-style-type: none;
}

p {
    background-color: #5691fd;
    color: #e4edfd;
    border-radius: 10px;
    font-size: 13px;
    padding: 24px;
    padding-left: 48px;
    margin: 24px 0;
}

p:last-child {
    margin-bottom: 0;
}

p > b {
    display: flex;
    color: #ffffff;
    position: relative;
    margin-bottom: 4px;
}

p > b::before {
    content: url('images/stroke-info.svg');
    position: absolute;
    left: -26px;
}

p > a {
    color: #e1e1e1;
    text-decoration: none;
    font-weight: 500;
}

p > a:hover {
    text-decoration: underline;
}

p.-warning {
    background-color: #FDCD56;
    color: #0f0f0f;
}

p.-warning > a {
    color: #0f0f0f;
}

p.-warning > b {
    color: #050505;
}

p.-warning > b::before {
    content: url('images/solid-bang.svg');
}
