body {
    width: 400px;
    background-color: #ececec;
    font-family: 'Inder', sans-serif;
}

h1 {
    text-align: center;
}

ul > li {
    padding: 4px 8px;
}

p {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 8px;
}

p.-warning {
    border-color: #ffcc00;
}

